<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productifier</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="index.css">
</head>

<body>

    <nav class="navbar">
        The Productifier App


    </nav>
    <div class="teffect"></div>

    <section class="sec">
        <p class="para">
            This app lets you set short goals for yourself and productify your work in this time of pandemic where
            everyone is required to work from home.
        </p>
        <a href="main.html">Let's Go</a>
    </section>


</body>

</html>