<!DOCTYPE HTML>
<html>

<head>
    <title>
        Productifier
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/5b53930bf7.js" crossorigin="anonymous"></script>
   
</head>


<body>
    <nav class="navbar">
        The Productifier App
    </nav>





    <div class="wrapper">
        <div class="timer">
            <div class="current-time">
                <h5>Current time</h5>
                
                <p id="demo">0h 50m 0s</p>
            </div>
            <div class="total-time">
                <h5>Total time</h5>
                
                <p id="total">0h 0m 0s</p>
            </div>
            <div class="start">
                <button onclick="countdownTimeStart()" id="startstop">Start Timer</button>
            </div>
            <div class="stop">
                <button id="stop" onclick="stopTimer()">Stop</button>
            </div>

        </div>


        <div class="todo">
           MY GOALS
           <div class="interior">
            
            <form action ="/addtask" method="POST">
            <h3>Add-Task</h3>
            <input type="text" name="newtask" placeholder="add new task" id="addTask">
            <br>
            <button> Add Task </button>
            
            
            <h2> To-Do </h2>
            
            <% for( var i = 0; i < task.length; i++){ %>
                <li style="list-style-type:none;"><i class="fas fa-hourglass-half fa-lg"></i> <input type="checkbox" name="check" value="<%= task[i] %>" class="pending" /> <%= task[i] %> </li>
            <% } %>
            
            <button formaction="/removetask" type="submit" id="top"> Remove </button>
            </form>
            
            <h2> Completed task </h2>
            
             <% for(var i = 0; i < complete.length; i++){ %>
                <li style="list-style-type:none;" class="completedTasks"><i class="fas fa-check"></i> <%= complete[i] %></li>
            <% } %>
            
            </div>
        </div>
    </div>



    <script src="/js/index.js"></script>

</body>

</html>